# Week 2: project

In [1]:
from opensearchpy import OpenSearch

In [2]:
host = 'localhost'
port = 9200
auth = ('admin', 'admin')

In [3]:
client = OpenSearch(
    hosts=[{'host': host, 'port': port}],
    http_compress=True,  # enables gzip compression for request bodies
    http_auth=auth,
    # client_cert = client_cert_path,
    # client_key = client_key_path,
    use_ssl=False,
    verify_certs=False,
    ssl_assert_hostname=False,
    ssl_show_warn=False,
)

client.cat.health()

'1665951061 20:11:01 docker-cluster yellow 1 1 true 3 3 0 0 2 0 - 60.0%\n'

In [4]:
client.cat.indices()

'yellow open bbuy_products QjheqkOBSpC7fdz3ub-kBw 1 1 1275077 0  1.3gb  1.3gb\nyellow open bbuy_queries  u9lHWLnhRp-2fmwpAMruKg 1 1  200792 0 62.6mb 62.6mb\ngreen  open .kibana_1     SiUuHDMJTbeYKByfMtMFJQ 1 0       1 0  5.1kb  5.1kb\n'

In [7]:
client.cat.count("bbuy_products", params={"v": "true"})

'epoch      timestamp count\n1665951080 20:11:20  1275077\n'

## prior query data

In [10]:
import pandas as pd

In [11]:
priors = pd.read_csv(f'{os.getenv("PROJECT_DIR")}/datasets/train.csv')
priors.head()

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.42,2011-09-05 12:25:01.187
2,000017f79c2b5da56721f22f9fdd726b13daf8e8,1517163,pcmcat193100050014,nook,2011-08-24 12:56:58.91,2011-08-24 12:55:13.012
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
4,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877134,abcat0101005,rca,2011-10-25 07:19:51.697,2011-10-25 07:16:51.759

In [12]:
priors_gb = priors.groupby("query")
priors_gb.head()

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.42,2011-09-05 12:25:01.187
2,000017f79c2b5da56721f22f9fdd726b13daf8e8,1517163,pcmcat193100050014,nook,2011-08-24 12:56:58.91,2011-08-24 12:55:13.012
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
4,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877134,abcat0101005,rca,2011-10-25 07:19:51.697,2011-10-25 07:16:51.759
...,...,...,...,...,...,...
1865228,fffd7c957f43567ebc6f50f8cf84b172b70867a2,9225377,abcat0201011,iPod apple,2011-10-15 19:20:00.071,2011-10-15 19:19:52.526
1865230,fffda9420bdad54915055a05f7e6b128a5a0b0d9,9448056,cat02015,tv series the unit,2011-10-26 20:16:45.005,2011-10-26 20:16:26.357
1865244,fffe3e08fec77102c978ff24552d4f66abdb30a5,8206078,abcat0503013,dsl wireless router,2011-09-26 19:09:46.108,2011-09-26 19:09:14.824
1865261,ffff85475a3a4c4f15e9dddcb9b83a4091991ace,2969617,cat02015,Breakfast at tiffanys blu,2011-09-26 22:04:30.39,2011-09-26 22:03:56.127
1865264,ffffbcfcee8ff636231fa0df557528e6fa2ecdba,3674224,pcmcat247400050000,ttv,2011-10-28 07:30:33.921,2011-10-28 07:27:05.039

In [13]:
user_query = 'iphone4'
user_query

'iphone4'

In [14]:
prior_clicks_for_query = priors_gb.get_group(user_query)
prior_clicks_for_query

,user,sku,category,query,click_time,query_time
2625,005761299ea7381139b18b9b814cf394e1a83153,1049236,pcmcat209400050001,iphone4,2011-10-10 10:06:15.585,2011-10-10 10:05:29.338
7077,00f0526a6aaacc1476ffbab41870805c6db8d3cd,1049236,pcmcat209400050001,iphone4,2011-09-18 12:52:22.722,2011-09-18 12:50:53.253
53524,075c3853b5b19d1366160d9a5299308afa83d3e4,2730196,pcmcat156400050037,iphone4,2011-09-14 11:44:31.823,2011-09-14 11:42:36.17
73846,0a2a9e1a7563b142a3c40e6404572490d49476df,1049078,pcmcat209400050001,iphone4,2011-09-23 21:16:35.857,2011-09-23 21:15:29.667
114337,0fc1cd6a10fe6eee825f6fda14a8f3d0b3ce2c39,3487648,pcmcat209400050001,iphone4,2011-10-19 08:43:38.741,2011-10-19 08:42:17.457
...,...,...,...,...,...,...
1753384,f07f12f42156f9c7bad442b5a5acdd4bc255ed63,1049236,pcmcat209400050001,iphone4,2011-10-04 20:20:38.061,2011-10-04 20:19:46.191
1770534,f2ee4e4eb508a50c1777ab4d6f2c09769a70e187,8439852,abcat0208009,iphone4,2011-09-18 10:32:08.376,2011-09-18 10:31:29.198
1791255,f5cbe5abdaf7b82bd0cdf8d6f15c3da7f5217be8,1049236,pcmcat209400050001,iphone4,2011-09-18 22:43:18.338,2011-09-18 22:41:27.856
1828251,fae2f3f2d904b4349cdb8d956de47847c42a22d8,1049236,pcmcat209400050001,iphone4,2011-09-18 20:08:30.346,2011-09-18 20:07:19.007
1845736,fd50e2651c033858395590215a86bb9188e3f76a,8439852,abcat0208009,iphone4,2011-09-20 14:58:12.971,2011-09-20 14:58:01.166

In [15]:
n_query = len(prior_clicks_for_query)
n_query

77

In [24]:
weight_df = prior_clicks_for_query.groupby('sku').agg(
    weight = pd.NamedAgg('sku', 'count'),
)/n_query
weight_df.head()

           weight
sku
1039267  0.012987
1048998  0.025974
1049078  0.103896
1049087  0.025974
1049236  0.194805

In [ ]:
click_prior = " ".join([str(sku)+"^"+str(sku_click_count/query_count) for sku,sku_click_count in filtered_count])

In [34]:
clicks_prior = " ".join([f'{sku}^{np.round(w, 5)}' for (sku, w) in weight_df.to_records()])
clicks_prior

'1039267^0.01299 1048998^0.02597 1049078^0.1039 1049087^0.02597 1049236^0.19481 1113847^0.01299 1230537^0.1039 1324138^0.01299 1401749^0.01299 1535918^0.01299 1799127^0.01299 1934448^0.01299 1945595^0.01299 2024814^0.03896 2266061^0.01299 2404316^0.01299 2629904^0.01299 2643427^0.01299 2645425^0.01299 2730196^0.01299 2769018^0.01299 2833769^0.01299 3291276^0.01299 3370267^0.02597 3487648^0.01299 3487784^0.02597 3514142^0.01299 3562379^0.01299 3562493^0.01299 3566966^0.01299 3815041^0.01299 3815157^0.01299 3825048^0.02597 3825057^0.02597 8439852^0.03896 8732794^0.01299 9225377^0.01299 9867608^0.01299 9955611^0.01299'